<header>
  <div>NodeJS Authentication</div>
  <!-- locals.user -->
  <ul>
    <% if(locals.user){%>
    <li>Welcome!! <%=user.name%></li>
    <li>
      <a href="/users/profile"><%=user.name%></a>
    </li>
    <li>
      <a href="/users/logout">logout</a>
    </li>
    <%}else{%>

    <li>
      <a href="/users/signin">Sign in</a>
    </li>
    <li>
      <a href="/users/signup">Sign up</a>
    </li>
    <%}%>
  </ul>
</header>
