/* footer {
  background-color: #696969;
  display: flex;
  height: 10%;
  color: white;
  margin-bottom: 0px;
} */

footer {
  background-color: orange;
  position: absolute;
  left: 0;
  bottom: 0;
  height: 10%;
  width: 100%;
  overflow: hidden;
  color: white;
}
footer div {
  padding: 20px;
}
